@page "/chartdemo"

@using Blazorise.ChartsEx

<h1>Gantt Chart Demo</h1>

<GanttChart @ref="_chart" TItem="GanttChartData<double>"/>

@code {
  private GanttChart<GanttChartData<double>> _chart;

  private readonly string[] Labels = { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" };
  private readonly List<string> BackgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
  private readonly List<string> BorderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await HandleRedraw(_chart, GetChartDataset);
    }
  }

  private async Task HandleRedraw<TDataSet, TItem, TOptions, TModel>(BaseChart<TDataSet, TItem, TOptions, TModel> chart, Func<TDataSet> getDataSet)
    where TDataSet : ChartDataset<TItem>
    where TOptions : ChartOptions
    where TModel : ChartModel
  {
    await chart.Clear();

    await chart.AddLabelsDatasetsAndUpdate(Labels, getDataSet());
  }

  private GanttChartDataset<GanttChartData<double>> GetChartDataset()
  {
    return new GanttChartDataset<GanttChartData<double>>
    {
      Label = "Test data",
      Data = GetData(),
      BackgroundColor = BackgroundColors,
      BorderColor = BorderColors,
      BorderWidth = 1
    };
  }

  private List<GanttChartData<double>> GetData()
  {
    return new List<GanttChartData<double>> 
    {
      new GanttChartData<double>
      {
        X = new GanttChartInterval<double>
        {
          From = 1f,
          To = 2f
        },
        Y = 1f
      },
      new GanttChartData<double>
      {
        X = new GanttChartInterval<double>
        {
          From = 2f,
          To = 6f
        },
        Y = 3f
      }
    };
  }
}
